---
- name: "Configurer OSPF"
  hosts: localhost
  connection: local
  gather_facts: no

  vars_files:
    - ../vars/network.yml

  tasks:
    # ============================================
    # RÉCUPÉRATION DES INFOS
    # ============================================
    - name: "Récupérer les projets"
      uri:
        url: "{{ gns3_url }}/projects"
        method: GET
      register: projets

    - name: "Extraire le project_id"
      set_fact:
        project_id: "{{ (projets.json | selectattr('name', 'equalto', project_name) | first).project_id }}"

    - name: "Récupérer tous les nodes"
      uri:
        url: "{{ gns3_url }}/projects/{{ project_id }}/nodes"
        method: GET
      register: all_nodes

    - name: "Extraire les ports console"
      set_fact:
        r1_console: "{{ (all_nodes.json | selectattr('name', 'equalto', 'R1') | first).console }}"
        r2_console: "{{ (all_nodes.json | selectattr('name', 'equalto', 'R2') | first).console }}"
        r3_console: "{{ (all_nodes.json | selectattr('name', 'equalto', 'R3') | first).console }}"

    - name: "Afficher les ports console"
      debug:
        msg:
          - "R1: telnet 192.168.138.198 {{ r1_console }}"
          - "R2: telnet 192.168.138.198 {{ r2_console }}"
          - "R3: telnet 192.168.138.198 {{ r3_console }}"

    #======================================
    # Configuration Router R1
    # =====================================
    #
    - name: "Configurer R1 OSPF"
      ansible.builtin.shell: |
        expect << 'EOF'
        set timeout 60
        spawn telnet 192.168.138.198 {{ r1_console}}
        sleep 3
        send "\r"
        sleep 1
        expect "#"

        send "configure terminal\r"
        expect "#"

        send "hostname R1\r"
        expect "#"

        send "interface FastEthernet0/0\r"
        expect "#"
        send "ip address 192.168.12.1 255.255.255.0\r"
        expect "#"
        send "no shutdown\r"
        expect "#"

        send "interface FastEthernet0/1\r"
        expect "#"
        send "ip address 192.168.31.1 255.255.255.0\r"
        expect "#"
        send "no shutdown\r"
        expect "#"

        send "router ospf 1\r"
        expect "#"
        send "network 192.168.12.0 0.0.0.255 area 0\r"
        expect "#"
        send "network 192.168.31.0 0.0.0.255 area 0\r"
        expect "#"

        send "end\r"
        expect "#"
        send "write memory\r"
        expect "#"
        send "exit\r"
        EOF
      args:
        executable: /bin/bash

    #======================================
    # Configuration Router R2
    # =====================================
    #
    - name: "Configurer R2 OSPF"
      ansible.builtin.shell: |
        expect << 'EOF'
        set timeout 60
        spawn telnet 192.168.138.198 {{ r2_console}}
        sleep 3
        send "\r"
        sleep 1
        expect "#"

        send "configure terminal\r"
        expect "#"

        send "hostname R2\r"
        expect "#"

        send "interface FastEthernet0/0\r"
        expect "#"
        send "ip address 192.168.12.2 255.255.255.0\r"
        expect "#"
        send "no shutdown\r"
        expect "#"

        send "interface FastEthernet0/1\r"
        expect "#"
        send "ip address 192.168.23.1 255.255.255.0\r"
        expect "#"
        send "no shutdown\r"
        expect "#"

        send "router ospf 1\r"
        expect "#"
        send "network 192.168.12.0 0.0.0.255 area 0\r"
        expect "#"
        send "network 192.168.23.0 0.0.0.255 area 0\r"
        expect "#"

        send "end\r"
        expect "#"
        send "write memory\r"
        expect "#"
        send "exit\r"
        EOF
      args:
        executable: /bin/bash

    #======================================
    # Configuration Router R3
    # =====================================
    #
    - name: "Configurer R3 OSPF"
      ansible.builtin.shell: |
        expect << 'EOF'
        set timeout 60
        spawn telnet 192.168.138.198 {{ r3_console}}
        sleep 3
        send "\r"
        sleep 1
        expect "#"

        send "configure terminal\r"
        expect "#"

        send "hostname R3\r"
        expect "#"

        send "interface FastEthernet0/0\r"
        expect "#"
        send "ip address 192.168.23.2 255.255.255.0\r"
        expect "#"
        send "no shutdown\r"
        expect "#"

        send "interface FastEthernet0/1\r"
        expect "#"
        send "ip address 192.168.31.2 255.255.255.0\r"
        expect "#"
        send "no shutdown\r"
        expect "#"

        send "router ospf 1\r"
        expect "#"
        send "network 192.168.23.0 0.0.0.255 area 0\r"
        expect "#"
        send "network 192.168.31.0 0.0.0.255 area 0\r"
        expect "#"

        send "end\r"
        expect "#"
        send "write memory\r"
        expect "#"
        send "exit\r"
        EOF
      args:
        executable: /bin/bash
